*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('background.JPG') no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper
{
    position: relative;
    width: 880px; 
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
}

.wrapper .logo-kiri
{
    display: relative;
    justify-content: center;
    text-align: center;
}

.wrapper .form-box
{
    width: 1000;
    padding: 40px;
}

.form-box h1 {

    width: 100%;
    font-size: 2em;
    color: white;
    text-align: center;
   
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 20px;
}

.input-box input
{
    width: 90%;
    height: 20px;
    padding-left: 10px;
}

.ingat-akun-saya
{
    text-align: left;
    margin-left: 30px;
    
}

form button
{
    border: 10px;
    outline: none;
    padding: 8px;
    width: 252px;
    color: black;
    font-size: 25px;
    cursor: pointer;
    margin-left: 30px;
    margin-bottom: 15px;
    border-radius: 10px;
    background-color: #e68917;
}

form-button
{
    position: relative;
    justify-content: center;
}

.login-register
{
    margin-left: 30px;
    color: #e68917;
}

.register-link
{
    color: white;
}
